.App {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.biodata {
  background-color: aqua;
  font-size: 14px;
  border-radius: 14px;
  padding: 7px;
  text-align: center;
  margin: 10px;
}
